body { padding-top: 70px; }

section {
  margin: 0 20px;
}

.blockOverlay {
	z-index: 2000 !important;
}

.navbar-nav li.loader {
    margin: 12px 24px 0 6px;
}

.panel {
  margin: 20px;
}

.button-bar {
  right: 0;
  left: 0;
  bottom: 0;
  border-top: 1px solid #ddd;
  background: white;
}

.button-bar > button {
  float: right;
  margin: 20px;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.sentiment-icon {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ai-dialog-overlay.active {
  background-color: black;
  opacity: .5;
}

ux-dialog-overlay.active {
  background-color: black;
  opacity: .5;
}

pie-chart > .au-target {
  margin: 0 auto;
}

.fade-in {
  -webkit-animation: fadein 1s;
	-moz-animation: fadein 1s;
	-ms-animation: fadein 1s;
	-o-animation: fadein 1s;
	animation: fadein 1s;
}

.fade-out {
  -webkit-animation: fadeout 1s;
	-moz-animation: fadeout 1s;
	-ms-animation: fadeout 1s;
	-o-animation: fadeout 1s;
	animation: fadeout 1s;
}

.no-user-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* aurelia-dialog fix */
ux-dialog-container,
ux-dialog-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

ux-dialog-overlay {
    opacity: 0
}

ux-dialog-overlay.active {
    opacity: 1
}

ux-dialog-container {
    display: block;
    transition: opacity .2s linear;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

ux-dialog-container.active {
    opacity: 1
}

ux-dialog-container>div {
    padding: 30px
}

ux-dialog-container>div>div {
    display: block;
    min-width: 300px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    margin: auto
}

ux-dialog-container,
ux-dialog-container>div,
ux-dialog-container>div>div {
    outline: 0
}

ai-dialog {
    display: table;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: 3;
    min-width: 300px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    margin: auto;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background: #fff
}

ai-dialog>ai-dialog-header {
    display: block;
    padding: 16px;
    border-bottom: 1px solid #e5e5e5
}

ai-dialog>ai-dialog-header>button {
    float: right;
    border: none;
    display: block;
    width: 32px;
    height: 32px;
    background: 0 0;
    font-size: 22px;
    line-height: 16px;
    margin: -14px -16px 0 0;
    padding: 0;
    cursor: pointer
}

ai-dialog>ai-dialog-body {
    display: block;
    padding: 16px
}

ai-dialog>ai-dialog-footer {
    display: block;
    padding: 6px;
    border-top: 1px solid #e5e5e5;
    text-align: right
}

ai-dialog>ai-dialog-footer button {
    color: #333;
    background-color: #fff;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 0 5px 5px
}

ai-dialog>ai-dialog-footer button:disabled {
    cursor: default;
    opacity: .45
}

ai-dialog>ai-dialog-footer button:hover:enabled {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.ai-dialog-open {
    overflow: hidden
}